.education 
	h2
		margin: 150px auto 80px
		text-align: center
		text-transform: uppercase
		font-family: RalewayBold, sans-serif

//First Block of education section//
.edu-wrap
	display: flex
	min-height: 258px
	

.edu-period
	position: relative
	max-width: 98px
	white-space: nowrap
	flex: 1 1 98px
	background-color: $main-color
	&:after
		position: absolute
		content: " "
		left: 79px
		top: 63px 
		border: 40px solid transparent
		border-top-width: 20px
		border-bottom-width: 20px 
		border-left-color: $main-color	
	p 
		transform: rotate(-90deg)
		margin-top: 140px
		font-size: 20px
		font-family: Lato, sans-serif
		color: #fff
		
.edu-side
	flex: 1 1 98px
	background-color: #b7b7b7
	min-width: 98px

.edu-content
	flex: 2 2 auto
	text-align: left
	box-shadow: rgba(158,158,158, .75) 0 0 6px
	z-index: 1
	h5 
		margin: 50px 0 10px 54px
		font-family: LatoBold, sans-serif
		line-height: 1
	p
		&:nth-child(2)
			margin: 0 0 30px 54px
			font-size: 16px
			text-transform: uppercase
			font-family: Lato, sans-serif
			line-height: 1.5
		&:last-child
			margin: 0 58px 0 54px
			padding-bottom: 73px
			font-size: 14px
			letter-spacing: 0.6px
			font-family: Lato, sans-serif
			line-height: 1.7
	

	//Second block//
.next-block
	.edu-content
		text-align: right	
		h5 
			margin: 50px 54px 10px 0
		p	
			&:nth-child(2)
				margin: 0 54px 30px 0
			&:last-child
				margin: 0 54px 0 58px
	.edu-period			
		&:after
			border-right-color: $main-color
			border-left-color: transparent
			left: -65px
			top: 63px 
		p 
			transform: rotate(90deg)

.last-block
	margin-bottom: 150px			

.edu-between
	display: flex
	min-height: 32px
	.edu-space
		flex: 2 2 auto
	.edu-side
		flex: 1 1 98px
		background-color: #b7b7b7
		max-width: 98px	